body {
    background-color: #f2f2f2;
    font-family: 'Roboto Slab', serif;
    font-size: 16;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight:normal;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: relative;
}

h1 {
    font-size: 1.3em
}

h2 {
    font-size: 1.1em
}
